<div data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
     id="${component.id}"
     class="cmp-celerity-hero">

    <div class="my-5 py-5 px-5">
        <div class="container">

            <div class="row">
                <div class="col-12" >

                    <!-- Heading -->
                    <h3 class="text-md-left">
                        Transformation starts with People.<br>Ours. And yours.
                    </h3>
                    <!-- Buttons -->
                    <div class="text-md-left">
                        <a href="#" title="find out more" class="btn rounded-0 btn-primary shadow lift mr-1">
                            FIND OUT MORE
                        </a>
                    </div>

                </div>
            </div> <!-- / .row -->
        </div>
    </div>

</div>